/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo */
/* body {
    background-color: #fdfdf8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

/* Topo Vermelho */
.top-header {
    background-color: #8B0000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .logo h1 {
    margin-left: 10px;
    font-size: 1.5rem;
}

/* Container de Edição */
.edit-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px 0; */
    height: 650px;
}

.edit-form {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    /* border-radius: 10px; */
    padding: 21px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 832px;
    width: 100%;
}

.edit-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-submit {
    background-color: #8B0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
}

.btn-submit:hover {
    background-color: #A52A2A;
}

/* Rodapé */
.footer {
    background-color: #8B0000;
    color: #fff;
    padding: 18px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
}

.edit-container{
    background-image: url("/images/Fundo_Logo.png");
  
}