
    <!-- Topo Vermelho -->
    <header class="top-header">
       <img src="~/images/loguinho.png" alt="logo">
    </header>

    <!-- Área de Edição -->
    <main class="edit-container">
        <form class="edit-form" style="background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;">
            <h2>Editar Item</h2>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" placeholder="">
            </div>
            <div class="form-group">
                <label for="preco">Preço por unidade</label>
                <input type="number" id="preco" name="preco" placeholder="">
            </div>
            <div class="form-group">
                <label for="quantidade">Quantidade</label>
                <input type="number" id="quantidade" name="quantidade" placeholder="">
            </div>
            <button type="submit" class="btn-submit">Salvar Alterações</button>
          
        </form>
    </main>

    <!-- Rodapé Vermelho -->
    <footer class="footer">
        <p>&copy; 2024 - SEDUC - SleighList</p>
    </footer>
